<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="280144546" android:versionName="27.0.0.38.512" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.oculus.alpenglow" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.oculus.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oculus.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.oculus.updater.core.os.OTA_OPERATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.oculus.companion.server.permission.SEND_INTENTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.oculus.alpenglow.config.APP_INSTALLED"/>
    <uses-permission android:name="com.oculus.alpenglow.config.APP_UNINSTALLED"/>
    <uses-permission android:name="com.oculus.alpenglow.config.CONFIG_CHANGED"/>
    <uses-permission android:name="com.oculus.alpenglow.config.FETCH_CONFIGURATION"/>
    <permission android:name="com.oculus.alpenglow.config.APP_INSTALLED" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.oculus.alpenglow.config.APP_UNINSTALLED" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.oculus.alpenglow.config.CONFIG_CHANGED" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.oculus.alpenglow.config.FETCH_CONFIGURATION" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS"/>
    <uses-permission android:name="android.permission.MANAGE_PROFILE_AND_DEVICE_OWNERS"/>
    <uses-permission android:name="com.oculus.permission.READ_CONTROLLER_STATUS"/>
    <application android:label="@string/app_name" android:name="com.oculus.alpenglow.AlpenglowApplication" android:debuggable="false" android:allowBackup="false" android:defaultToDeviceProtectedStorage="true" android:directBootAware="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <meta-data android:name="com.facebook.build_rule" android:value="alpenglow_release_fbsign"/>
        <meta-data android:name="com.facebook.package_type" android:value="release"/>
        <meta-data android:name="com.facebook.build_time" android:value="1616476739000L"/>
        <meta-data android:name="com.facebook.versioncontrol.branch" android:value="master"/>
        <meta-data android:name="com.facebook.versioncontrol.revision" android:value="MASTER"/>
        <service android:name="androidx.room.MultiInstanceInvalidationService" android:exported="false"/>
        <meta-data android:name="com.oculus.ocms.fbpermission.LIBRARY_PROVIDER" android:value=""/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <receiver android:name="com.oculus.alpenglow.boot.BootBroadcastReceiver" android:exported="false" android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.oculus.alpenglow.boot.UserUnlockedBroadcastReceiver" android:exported="false"/>
        <service android:name="com.oculus.alpenglow.config.ConfigSyncService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false" android:directBootAware="true"/>
        <service android:name="com.oculus.alpenglow.enterpriseserver.EnterpriseServer" android:exported="true" android:directBootAware="true"/>
        <receiver android:name="com.oculus.alpenglow.enterpriseserver.DeviceTokenBroadcastReceiver" android:exported="false"/>
        <service android:name="com.oculus.alpenglow.fbns.FbnsService" android:exported="false"/>
        <receiver android:name="com.oculus.alpenglow.fbns.FbnsBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.rti.fbns.intent.RECEIVE"/>
                <category android:name="com.oculus.alpenglow"/>
            </intent-filter>
        </receiver>
        <service android:label="NotificationService" android:name="com.facebook.rti.push.service.FbnsService" android:exported="false" android:process=":fbns">
            <meta-data android:name="enable-stage" android:value="enable-warm-pretos"/>
        </service>
        <receiver android:name="com.facebook.rti.push.service.MqttSystemBroadcastReceiver" android:process=":fbns">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.oculus.alpenglow.induction.InductionBroadcastReceiver" android:exported="false"/>
        <service android:name="com.oculus.alpenglow.induction.InductionService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <receiver android:name="com.oculus.alpenglow.os.NetworkCheck" android:exported="false"/>
        <service android:name="com.oculus.alpenglow.os.ScheduleUpdateJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <service android:name="com.oculus.alpenglow.remotewipe.RemoteWipeService" android:enabled="true" android:exported="false"/>
        <service android:name="com.oculus.alpenglow.remotewipe.RemoteWipePollingJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false" android:directBootAware="true"/>
        <service android:name="com.oculus.alpenglow.state.DeviceStateReporterJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <service android:name="com.oculus.mobileconfig.updater.MobileConfigUpdaterJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
    </application>
    <queries>
        <intent>
            <action android:name="com.facebook.secure.packagefinder.intent.ACTION_QUERY_PACKAGES"/>
        </intent>
        <intent>
            <action android:name="com.facebook.GET_PHONE_ID"/>
        </intent>
        <intent>
            <action android:name="com.facebook.GET_UNIQUE_ID"/>
        </intent>
    </queries>
</manifest>
