<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="280105765" android:versionName="27.0.0.42.565" android:installLocation="internalOnly" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.oculus.guardian" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="24"/>
    <uses-permission android:name="com.oculus.permission.SECURE_TRACKING_SERVICE"/>
    <uses-permission android:name="com.oculus.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oculus.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="com.oculus.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="com.oculus.permission.ACCESS_CAMERA_DATA"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-feature android:name="oculus.software.handtracking" android:required="false"/>
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING"/>
    <uses-permission android:name="com.oculus.permission.UPDATE_TELEMETRY_SESSIONS"/>
    <permission android:name="com.oculus.permission.GUARDIAN_USER_CONTROL" android:protectionLevel="signature"/>
    <uses-permission android:name="com.oculus.permission.GUARDIAN_USER_CONTROL"/>
    <uses-permission android:name="com.oculus.permission.ACCESS_TRACKING_ENV"/>
    <uses-permission android:name="com.oculus.permission.USE_ANCHOR_API"/>
    <uses-permission android:name="com.oculus.permission.ALLOW_UID_HIGH_PRIORITY"/>
    <application android:persistent="false" android:process="com.oculus.vrguardianservice" android:allowBackup="false" android:directBootAware="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <meta-data android:name="com.oculus.tracking_service.request_audit_secure_tracking" android:value="true"/>
        <meta-data android:name="com.oculus.deviceconfig.PARAMS_MAP_PATH" android:value="assets/params_map.txt"/>
        <meta-data android:name="oculus_preferences_guardian" android:resource="@raw/guardian_preference_store_schema"/>
        <service android:name="com.oculus.vrguardianservice.VrGuardianService" android:exported="true" android:singleUser="true" android:directBootAware="true">
            <meta-data android:name="com.oculus.persistent_service" android:value="true"/>
        </service>
        <service android:name="com.oculus.vrguardianservice.VrGuardianUserService" android:exported="true" android:singleUser="false" android:directBootAware="true"/>
        <receiver android:name="com.oculus.vrguardianservice.VrGuardianUserBroadcastReceiver" android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.Black.NoTitleBar.Fullscreen" android:name="com.oculus.vrguardianservice.PTODActivity" android:process="com.oculus.vrguardianservice.ptodactivity" android:excludeFromRecents="false" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize">
            <meta-data android:name="android.app.lib_name" android:value="guardian"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
        </activity>
        <meta-data android:name="internalVersionName" android:value="27.0.0.42.565.d671ba5b4135 2021_03_22_17_37"/>
    </application>
</manifest>
