<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="313000301" android:versionName="103.0.0.2.164" android:installLocation="internalOnly" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.oculus.explore" platformBuildVersionCode="313000301" platformBuildVersionName="103.0.0.2.164">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.oculus.horizon.FBCONNECT_CONTENT_PROVIDER_READ_ACCESS"/>
    <uses-permission android:name="com.oculus.horizon.LINKED_ACCOUNTS_WRITE_PERMISSION"/>
    <uses-permission android:name="com.oculus.messenger.permission.ACCESS"/>
    <uses-permission android:name="com.oculus.nux.ota.permission.SEND_INTENTS"/>
    <uses-permission android:name="com.oculus.permission.SUBMIT_BUG_REPORT"/>
    <uses-permission android:name="com.oculus.permission.READ_CONTROLLER_STATUS"/>
    <uses-permission android:name="com.oculus.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.oculus.permission.PLAY_AUDIO_BACKGROUND"/>
    <uses-permission android:name="oculus.render_notification"/>
    <uses-permission android:name="com.oculus.permission.READ_SETTINGS"/>
    <uses-feature android:glEsVersion="30000" android:required="true"/>
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="false" android:version="1"/>
    <uses-permission android:name="com.oculus.companion.server.permission.SEND_INTENTS"/>
    <application android:label="@string/app_name" android:name="com.oculus.explore.PanelApplication" android:allowBackup="false" android:supportsRtl="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only"/>
        <meta-data android:name="com.oculus.socialplatform.fbpermission.FRIEND_LIST_CONTENT_PROVIDER" android:value=""/>
        <meta-data android:name="com.oculus.horizon.fbpermission.FRIEND_LIST_CONTENT_PROVIDER" android:value=""/>
        <meta-data android:name="com.oculus.ocms.fbpermission.LIBRARY_PROVIDER" android:value=""/>
        <meta-data android:name="com.oculus.ocms.fbpermission.MESSENGER_SERVICE_PROVIDER" android:value=""/>
        <meta-data android:name="com.oculus.dependency.required_build_version" android:value="1528060.13790.0"/>
        <meta-data android:name="com.oculus.deviceconfig.PARAMS_MAP_PATH" android:value="assets/params_map.txt"/>
        <activity android:theme="@style/Theme.NoDisplay" android:label="@string/app_name" android:name="com.oculus.explore.PanelActivity" android:excludeFromRecents="false" android:launchMode="singleTask" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
        </activity>
        <service android:name="com.oculus.explore.PanelService" android:exported="true" android:process=":explore">
            <intent-filter>
                <action android:name="com.oculus.vrshell.SHELL_MAIN"/>
            </intent-filter>
            <meta-data android:name="com.oculus.vrshell.is_default_service" android:value="true"/>
            <meta-data android:name="com.oculus.vrshell.supports_layers" android:value="true"/>
            <meta-data android:name="com.oculus.vrshell.required_panel_surfaces" android:value="videos,playerui,reactdebugsurface,logbox,reactsplashscreen"/>
            <meta-data android:name="com.oculus.vrshell.layer_definition" android:resource="@array/oculus_vrshell_layers"/>
            <meta-data android:name="com.oculus.vrshell.clear_on_app_launch" android:value="true"/>
            <meta-data android:name="com.oculus.vrshell.supports_ime_composition" android:value="true"/>
        </service>
        <meta-data android:name="internalVersionName" android:value="103.0.0.2.164.960af00ff2b8 2021_04_01_10_14"/>
        <meta-data android:name="oculus_preferences_deviceutilities" android:resource="@raw/preferences_store_schema"/>
    </application>
</manifest>
