<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" android:versionCode="29" android:versionName="10" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.oculus.bugreportservice" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="29"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <permission android:name="com.oculus.permission.COLLECT_BUG_REPORT" android:protectionLevel="normal|signature"/>
    <application android:label="BugReportService" android:allowBackup="false" android:extractNativeLibs="true" android:defaultToDeviceProtectedStorage="true">
        <meta-data android:name="com.oculus.use_restricted_memory" android:value="true"/>
        <provider android:name=".BugReportProvider" android:permission="com.oculus.permission.SUBMIT_BUG_REPORT" android:exported="true" android:authorities="com.oculus.bugreportservice.provider" android:syncable="false"/>
        <service android:name=".BugReportUploaderJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true"/>
        <service android:name=".BugReportLogService" android:exported="true"/>
        <service android:name=".BugReportCleanupJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true"/>
        <service android:name=".BugReportService" android:permission="com.oculus.permission.COLLECT_BUG_REPORT" android:exported="true">
            <intent-filter>
                <action android:name="com.oculus.bugreportservice.BugReportService"/>
            </intent-filter>
        </service>
    </application>
</manifest>
